:root{
    --size--background: 5rem;
    --size--input: 4rem;
}

.wrapper{
    width: 100%;
}
.logo-back{
    margin-top: 20px;
    color: var(--shadow--color);
    font-size: 25px;
    border-radius: 50%;
    line-height: calc(var(--size--background) + var(--size--background) / 6);
    height: var(--size--background);
    width: var(--size--background);
    &:hover{
        animation:identifier forwards 1s;
        line-height: calc(var(--size--background) + var(--size--background) / 6);
        height: var(--size--background);
        width: var(--size--background);
        box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 5px;
        transition: all .40s;
    }
}
.logo-email{
    font-size: 5rem;
    margin-top: 20px;
    color: var(--shadow--color);
    margin-bottom: 5px;
}
.form{
    margin-top: 40px;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 5px;
    border-radius: 5px;
   &-title{
    font-size: var(--font-size-title);
    text-align: center;
   }
}
.button-otp{
    border-radius: 2px;
}
.input{
    width: var(--size--input);
    height: var(--size--input);
    line-height:var(--size--input) ;
    font-size: 2.8rem;
    border-radius: 5px;
}
.input-otp{
    height: var(--size--input);
    width: calc(var(--size--input) * 3.3);
    font-size: 2.8rem;
    letter-spacing: 2px;

}

.text-center{
    text-align: center;
}

.wrapperbutton{
    margin-top: 20px;
}




// @keyframes identifier {
//     from{
//         color: white;
//         box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//         opacity: 0;
//     }   
//     to{
//         color: black;
//        
//         opacity: 1;
//     }
// }