.admin {
    display: flex;
    font-size: 16px;
    font-family: Montserrat;
    .homeContainer {
  display: flex;
  flex-direction: column;
.manage-user-main{
    background-color: rgb(252, 252, 252);
    width: 100%;
    padding: 30px;
    height: 100vh;
}
      
    }
}