.wrapper{
    width: 500px;
    margin: auto;

    // text-align: center;
    // background-color: green;
    &__title{
        margin-top: 30px;
        font-weight: var(--font-weight-title);
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: var(--font-size-title);
    }
}

.form{
    margin-top: 25px;
    width: 100%;
    margin-bottom: 120px;
    &__title{
        font-size: 2rem;
        font-weight: var(--font-weight-title);
        margin-bottom: 20px;
    }
    &__item{
        &--input{
            width: 100%;
            height: var(--height--input);
            // font-size: var(--font-size-input);
        }




        &--button{
            border-radius: 20px;
            background-color:  #FAFAFA;
        }
    }
    
}
.UploadButton{
    // display: block;
    // width: 100px;

}


.input-type{
    font-size: var(--font-size-input);
    height: var(--height--input);
}
.provision{
    margin-top: 40px;
    text-align: justify;
    opacity: 0.7;
}
.form-input input{
    height: 42px;
    font-size: 1.6rem;
    width: 100%;
}
.form-date input{
    height: 42px;
    font-size: 1.6rem;
    width: 100%;
}
.form-email input{
    height: 42px;
    font-size: 1.6rem;
    width: 100%;
}
.form-password{
    

    & input{
        height: 42px;
        font-size: 1.6rem;
        width: 100%;
    }
}
.form-name {
    width: 100%;
}
.form-name input{
    height: 52px;
    font-size: 1.6rem;
}
.form-name input:hover{
    height: 52px;
    font-size: 1.6rem;
}
.form-name input :focus{
    outline: none;
    border:  1px solid red;
    // border: 1px solid #11939A;
}