.customer-info {
  display: flex;
  font-family: Montserrat;
  border: 1.5px solid black;
  justify-content: space-between;
  border-radius: 6px;
  &-main {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.005em;
      margin-bottom: 16px;
    }
    &-section {
      width: 100%;
      padding-left: 16px;
      padding-right: 30px;
    }
  }
  &-rules {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.005em;
      margin-bottom: 16px;
    }
    &-section {
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      padding-left: 16px;
      padding-bottom: 8px;
      padding-right: 8px;
    }
  }
}
