.wrapper{
    background-color: white;
    border-radius: 5px;
}
.title{
    font-size: 1.9rem;
}
.mini-title{
    font-size: 1.3rem;
    opacity: 0.9;
}

.prefix{
    height: 40px;
    width: 70px;
    align-items: center;
    justify-content: center;
}
.button{
   
}
.status-title{
    margin-top: 2px;
}
.icon-modal{
    font-size: 1.8rem;
    color: black;
    margin-top: 2px;
}
